body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat ', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.3rem;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 2% 15%;
}

/* Navbar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Button */

.downlaod-button {
    margin: 5% 3% 5% 0;
}

/* title-image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    padding-left: 55px;
}

/* Features */

#features {
    text-align: center;
    padding: 7% 11%;
}

.featured-item {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}