body {
    font-family: "Montserrat";
}

h1 {
    font-family: 'Montserrat ', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: "Monserrat";
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.3rem;
}

p {
    color: #8f8f8f;
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 2% 15%;
}

/* Navbar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 8px;
    font-weight: 400;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 0px 5px;
    right: 10%;
    color: #ffffff;
}

/* Download Button */

.downlaod-button {
    margin: 5% 3% 5% 0;
}

/* title-image */

.title-image {
    width: 25%;
    transform: rotate(25deg);
    padding-left: 55px;
    position: absolute;
    right:20%;
}

@media (max-width: 767px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        padding-left: 0px;
        width: 50%;
    }
}

/* Features */

#features {
    text-align: center;
    padding: 7% 11%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.featured-item {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials */
 
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;

}

/* Pricing Section */

#pricing {
    text-align: center;
    padding: 100px;
    padding-top: 60px;
}

.pricing-col {
    padding: 3% 2%;
}

/* Call to Acion */

#cta {
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}

.cta-text {
    font-size: 2.8rem;
    font-weight: bold;
    padding-top: 55px;
    margin: 0% 15% 0%;
}

/* Footer */

#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.foot-icon {
    color:black;
    margin: 20px 10px;
}